@font-face {font-family: "giligili";
  src: url('../fonts/iconfont.eot?t=1522724531219'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1522724531219#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url("../fonts/iconfont.woff?t=1522724531219") format("woff"),
       url('../fonts/iconfont.ttf?t=1522724531219') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
       url('../fonts/iconfont.svg?t=1522724531219#giligili') format('svg'); /* iOS 4.1- */
}

.giligili {
  font-family:"giligili" !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.giligili-baidu:before {
  content: "\e600";
}

.giligili-message:before {
  content: "\e601";
}

.giligili-attachment:before {
  content: "\e6a7";
}

.giligili-qzone:before {
  content: "\e604";
}

.giligili-certify-1:before {
  content: "\e62f";
}

.giligili-twitter:before {
  content: "\ec9c";
}

.giligili-github:before {
  content: "\e8ee";
}

.giligili-more-o:before {
  content: "\e622";
}

.giligili-location:before {
  content: "\e61f";
}

.giligili-rocket:before {
  content: "\e607";
}

.giligili-certify-3:before {
  content: "\e682";
}

.giligili-about:before {
  content: "\e61e";
}

.giligili-emoji:before {
  content: "\e64e";
}

.giligili-tag:before {
  content: "\eaf1";
}

.giligili-comment-1:before {
  content: "\e651";
}

.giligili-edit:before {
  content: "\e60a";
}

.giligili-right:before {
  content: "\e611";
}

.giligili-share:before {
  content: "\e678";
}

.giligili-share1:before {
  content: "\e633";
}

.giligili-blacklist:before {
  content: "\e657";
}

.giligili-wechat:before {
  content: "\e673";
}

.giligili-jing:before {
  content: "\e640";
}

.giligili-weibo:before {
  content: "\e637";
}

.giligili-comment:before {
  content: "\e605";
}

.giligili-certify-2:before {
  content: "\e63f";
}

.giligili-qq:before {
  content: "\e63a";
}

.giligili-menu:before {
  content: "\e8bd";
}

.giligili-time:before {
  content: "\e687";
}

.giligili-at:before {
  content: "\e606";
}

.giligili-copyright:before {
  content: "\e669";
}

.giligili-style:before {
  content: "\e63d";
}

.giligili-renzheng:before {
  content: "\e60d";
}

.giligili-email:before {
  content: "\e69c";
}

.giligili-wordpress:before {
  content: "\e75f";
}

.giligili-qqqun:before {
  content: "\e632";
}

.giligili-link:before {
  content: "\e628";
}

.giligili-female:before {
  content: "\e65e";
}

.giligili-male:before {
  content: "\e65f";
}

.giligili-sex-unknown:before {
  content: "\e660";
}

.giligili-visitors:before {
  content: "\e663";
}

.giligili-postlist:before {
  content: "\e66a";
}

.giligili-heart:before {
  content: "\e666";
}

.giligili-view:before {
  content: "\e665";
}

.giligili-Bbi:before {
  content: "\e667";
}

.giligili-download:before {
  content: "\e668";
}

.giligili-search:before {
  content: "\e66f";
}

.giligili-filter:before {
  content: "\e670";
}

.giligili-more:before {
  content: "\e679";
}

.giligili-close:before {
  content: "\e67b";
}

.giligili-settings:before {
  content: "\e67e";
}

.giligili-tags:before {
  content: "\e680";
}

.giligili-error:before {
  content: "\e688";
}

.giligili-scan:before {
  content: "\e68a";
}

.giligili-delete:before {
  content: "\e68b";
}

.giligili-player-play:before {
  content: "\e6ab";
}

.giligili-player-stop:before {
  content: "\e6ac";
}

.giligili-bilibili:before {
  content: "\e615";
}

.giligili-gantanhao:before {
  content: "\e612";
}

.giligili-i:before {
  content: "\e608";
}

.giligili-finish:before {
  content: "\e6b3";
}

.giligili-notice:before {
  content: "\e6b4";
}

.giligili-download-o:before {
  content: "\e6b5";
}

.giligili-code:before {
  content: "\e61a";
}

.giligili-home-o:before {
  content: "\e613";
}

.giligili-email-o:before {
  content: "\e6b8";
}

.giligili-history:before {
  content: "\e6b9";
}

.giligili-download-cache:before {
  content: "\e6ba";
}

.giligili-settings-o:before {
  content: "\e6c3";
}

.giligili-night-mode:before {
  content: "\e6c4";
}

.giligili-theme:before {
  content: "\e6c6";
}

.giligili-big-vip:before {
  content: "\e6c7";
}

.giligili-category:before {
  content: "\e653";
}

.giligili-cai:before {
  content: "\e6d5";
}

.giligili-zan:before {
  content: "\e6c5";
}

.giligili-day-mode:before {
  content: "\e6c8";
}

.giligili-load-failed:before {
  content: "\e6c9";
}

.giligili-home:before {
  content: "\e6ca";
}

.giligili-collect:before {
  content: "\e6cb";
}

.giligili-userlevel-0:before {
  content: "\e6cc";
}

.giligili-userlevel-1:before {
  content: "\e6cd";
}

.giligili-userlevel-2:before {
  content: "\e6ce";
}

.giligili-userlevel-3:before {
  content: "\e6cf";
}

.giligili-userlevel-4:before {
  content: "\e6d0";
}

.giligili-userlevel-5:before {
  content: "\e6d1";
}

.giligili-userlevel-6:before {
  content: "\e6d2";
}

.giligili-timeline:before {
  content: "\e67a";
}

.giligili-qrcode:before {
  content: "\e6d3";
}

.giligili-heart-o:before {
  content: "\e6db";
}

.giligili-Pixiv:before {
  content: "\e8a0";
}

.giligili-zhihu:before {
  content: "\e8de";
}

.giligili-sofa:before {
  content: "\e659";
}

.giligili-at-1:before {
  content: "\e821";
}

.giligili-title:before {
  content: "\e617";
}

.giligili-jing-2:before {
  content: "\e6b6";
}

.giligili-comments:before {
  content: "\e6d6";
}

.giligili-bottom:before {
  content: "\e602";
}

.giligili-tishi:before {
  content: "\e60b";
}

.giligili-tishi1:before {
  content: "\e634";
}

.giligili-cuo1:before {
  content: "\e603";
}

.giligili-telegram:before {
  content: "\e69a";
}
